$BlackSqueeze: #eff7fa;
$TowerGray: #a8b9c0;
$BigStone: #1a2940;
$AquamarineBlue: #70dddb;
$RadicalRed: #ff3150;
$SelectiveYellow: #ffbb06;
$White: #fff;
$Turquoise: #33d1cc;

$wrapper-color: $BlackSqueeze;
$span-color: $TowerGray;
$h1-color: $BigStone;
$span-line-color: $AquamarineBlue;
$button-hover-bg: $RadicalRed;
$button-letters-hover-color: $SelectiveYellow;
$buttonColor: $TowerGray;
$ImgSpanColor: $White;
$ImgSpanEmColor: $BigStone;
$imgColor: $Turquoise;
